body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #fff;
}

/* Estilos para el logotipo */
#logo {
    display: block;
    margin: 20px auto;
    width: 150px; /* Ajusta según sea necesario */
    height: auto;
}

/* Contenedor de las categorías para que se alineen en fila */
.categories-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espaciado entre las categorías */
    flex-wrap: wrap; /* Permite que las categorías bajen si no caben */
}

/* Estilos de cada categoría */
.category {
    width: 200px;
    padding: 15px;
    border-radius: 10px;
    background-color: #1f1f1f;
    text-align: center;
}

/* Estilos de las imágenes */
.category img {
    max-width: 100%;
    border-radius: 5px;
}
